.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}

.Flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Logo {
  width: 200px;
  padding: 1% 1% 1% 10%;
  display: flex;
}

.Navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 1% 10% 1% 1%;
}

.Navbar li {
  padding: 0px 5px;
  font-size: 14px;
  font-weight: bold;
}

.Navbar li:hover {
  background-color: palegreen;
}
