.App {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.Flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-bottom: 5px;
  width: 70%;
}

.Logo {
  width: 200px;
  padding: 1%;
  display: flex;
}

.Navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 1%;
}

.Navbar li {
  padding: 0px 5px;
  font-size: 16px;
  font-weight: bold;
}

.Navbar li:hover {
  background-color: #f4ce14;
}

.Hero {
  background-color: #495e57;
  color: #fff;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.Hero-col {
  width: 50%;
  padding: 30px 2% 10px 16%;
}

.Hero-col-1 {
  margin: auto;
  align-items: center;
}

.Hero h1 {
  color: #d3b836;
  font-size: 40px;
  font-family: serif;
}

.Hero h2 {
  font-size: 30px;
  font-family: serif;
  padding: 0;
  margin: 0;
}

.Hero p {
  width: 40%;
  padding: 5px 0;
}

.Hero button {
  background-color: #f4ce14;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  margin: 5px 0 10px 0;
}

.Img {
  position: absolute;
  width: 250px;
  height: 350px;
  border-radius: 5%;
}
